batch_size: 16
cache_dataset: true
channels_last: true
checkpoint_frequency: 100
compile_mode: default
compile_model: false
cuda: false
cycles: 200
dropout_rate: 0
early_stopping: true
early_stopping_patience: 50
epoch: 2000
epochs_number: 2000
gradient_accumulation_steps: 1
input_path: ./dataset/BSDS500/images/test/
learning_rate: 0.0009346227518033354
mixed_precision: false
mode: train
model_path: ./models/
momentum: 0.9444533942913925
mps: true
num_classes: 5
optimized: true
optimizer: adam
output_path: ./results/
persistent_workers: false
preload: false
preload_path: models/2x_epochs(2000)_mps_tuning_mixed_precision_with_scheduler_separable_optimizer(adam)_seed(123)_batch_size(16)/2x_epochs(2000)_mps_tuning_mixed_precision_with_scheduler_separable_optimizer(Adam)_seed(123)_batch_size(16)_TRACED_ckp1800.pth
prune_amount: 0.1
pruning: false
psnr_delta: 0
scheduler: true
seed: 123
separable: true
show_profiler: false
show_progress_bar: true
show_result: false
stuck_level: 27
target_min_psnr: 26
test_batch_size: 8
threads: 0
trials: 150
tuning: true
upscale_factor: 2
use_bn: true
use_fused_optimizer: false
verbose_logging: false
weight_decay: 5.079110223222985e-05
